<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template1">
<head>
<meta charset="utf-8" />
<title>Les Editeurs</title>
</head>
<body>
	<div layout:fragment="content">

		<div class="col-xs-12">
		
			<div class="panel panel-primary" th:if="${edit} != 0"><!-- editeur.id != 0 means mode=EDIT -->
				<div class="panel-heading">Ajout-Edit : éditeur</div>
				<div class="panel-body">
					<form th:action="@{/editEditeur}" method="post">
						<div>
							<table class="table table-condensed table-hover table-striped">
								<thead><td><h3>EDIT EDITEUR</h3></td><td></td></thead>
								<tr>
									<td><label>Nom : </label></td><td><input type="text"  name="nomEditeur" th:value="${editeur.nom}"/></td>
									<td><input type="hidden" name="idEditeur" th:value="${editeur.id}"/></td>
								</tr>
							</table>

							<button type="submit" class="btn btn-primary">Modifie Editeur</button>
						</div>
					</form>
				</div>
			</div>
			
			<div class="panel panel-primary" th:if="${edit} == 0"><!-- editeur.id == 0 means mode=ADD -->
				<div class="panel-heading">Ajout-Edit : éditeur</div>
				<div class="panel-body">
					<form th:action="@{/addEditeur(editeur=${editeur})}" method="post">
						<div>
							<table class="table table-condensed table-hover table-striped">
								<thead><td><h3>AJOUT EDITEUR</h3></td><td></td></thead>
								<tr>
									 <td><label>Nom : </label></td><td><input type="text" name="nomEditeur" /></td>
								 </tr>
							</table>

							<button type="submit" class="btn btn-primary">Ajoute Editeur</button>
						</div>
					</form>
				</div>
			</div>
			
			
			
		</div>

		<!-- 		<div class="panel panel-primary" th:if="${compte}"> -->
		<!-- 			<div class="panel-heading">Informations sur le compte</div> -->
		<!-- 			<div class="panel-body"> -->
		<!-- 				<div> -->
		<!-- 					<label>Code:</label> -->
		<!-- 					<label th:text="${compte.codeCompte}"></label> -->
		<!-- 				</div> -->
		<!-- 				<div> -->
		<!-- 					<label>Solde:</label> -->
		<!-- 					<label th:text="${compte.solde}"></label> -->
		<!-- 				</div> -->
		<!-- 				<div> -->
		<!-- 					<label>Date Création:</label> -->
		<!-- 					<label th:text="${compte.dateCreation}"></label> -->
		<!-- 				</div> -->
		<!-- 				<div> -->
		<!-- 					<label>Type du compte:</label> -->
		<!-- 					<label th:text="${compte.class.simpleName}"></label> -->
		<!-- 				</div> -->
		<!-- 				<div th:if="${compte.class.simpleName=='CompteCourant'}"> -->
		<!-- 					<label>Decouvert:</label> -->
		<!-- 					<label th:text="${compte.decouvert}"></label> -->
		<!-- 				</div> -->
		<!-- 				<div th:if="${compte.class.simpleName=='CompteEpargne'}"> -->
		<!-- 					<label>Taux:</label> -->
		<!-- 					<label th:text="${compte.taux}"></label> -->
		<!-- 				</div> -->
		<!-- 			</div> -->
		<!-- 		</div> -->


		<!-- 	</div> -->


	</div>


</body>
</html>