<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template1">
<head>
<meta charset="utf-8" />
<title>Les Auteurs</title>
</head>
<body>
	<div layout:fragment="content">

		<div class="col-xs-12">
		
			<div class="panel panel-primary" th:if="${edit} != 0"><!-- auteur.id != 0 means mode=EDIT -->
				<div class="panel-heading">Ajout-Edit : auteur</div>
				<div class="panel-body">
					<form th:action="@{/editAuteur}" method="post">
						<div>
							<table class="table table-condensed table-hover table-striped">
								<thead><td><h3>EDIT AUTEUR</h3></td><td></td></thead>
								<tr>
									<td><label>Nom : </label></td>   <td><input type="text"  name="nomAuteur" th:value="${auteur.nom}"/></td>
								</tr>
								<tr>
									<td><label>Prénom : </label></td><td><input type="text"  name="prenomAuteur" th:value="${auteur.prenom}"/></td>
								</tr>
								<tr>	
									<td><input type="hidden" name="idAuteur" th:value="${auteur.id}"/></td>
								</tr>
							</table>

							<button type="submit" class="btn btn-primary">Modifie Auteur</button>
						</div>
					</form>
				</div>
			</div>
			
			<div class="panel panel-primary" th:if="${edit} == 0"><!-- auteur.id == 0 means mode=ADD -->
				<div class="panel-heading">Ajout-Edit : auteur</div>
				<div class="panel-body">
					<form th:action="@{/addAuteur}" method="post">
						<div>
							<table class="table table-condensed table-hover table-striped">
								<thead><td><h3>AJOUT AUTEUR</h3></td><td></td></thead>
								 <tr>
									<td><label>Nom : </label></td>   <td><input type="text"  name="nomAuteur"/></td>
								</tr>
								<tr>
									<td><label>Prénom : </label></td><td><input type="text"  name="prenomAuteur"/></td>
								</tr>
							</table>

							<button type="submit" class="btn btn-primary">Ajout Auteur</button>
						</div>
					</form>
				</div>
			</div>
			
			
			
		</div>

		<!-- 		<div class="panel panel-primary" th:if="${compte}"> -->
		<!-- 			<div class="panel-heading">Informations sur le compte</div> -->
		<!-- 			<div class="panel-body"> -->
		<!-- 				<div> -->
		<!-- 					<label>Code:</label> -->
		<!-- 					<label th:text="${compte.codeCompte}"></label> -->
		<!-- 				</div> -->
		<!-- 				<div> -->
		<!-- 					<label>Solde:</label> -->
		<!-- 					<label th:text="${compte.solde}"></label> -->
		<!-- 				</div> -->
		<!-- 				<div> -->
		<!-- 					<label>Date Création:</label> -->
		<!-- 					<label th:text="${compte.dateCreation}"></label> -->
		<!-- 				</div> -->
		<!-- 				<div> -->
		<!-- 					<label>Type du compte:</label> -->
		<!-- 					<label th:text="${compte.class.simpleName}"></label> -->
		<!-- 				</div> -->
		<!-- 				<div th:if="${compte.class.simpleName=='CompteCourant'}"> -->
		<!-- 					<label>Decouvert:</label> -->
		<!-- 					<label th:text="${compte.decouvert}"></label> -->
		<!-- 				</div> -->
		<!-- 				<div th:if="${compte.class.simpleName=='CompteEpargne'}"> -->
		<!-- 					<label>Taux:</label> -->
		<!-- 					<label th:text="${compte.taux}"></label> -->
		<!-- 				</div> -->
		<!-- 			</div> -->
		<!-- 		</div> -->


		<!-- 	</div> -->


	</div>


</body>
</html>