<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"/>
<title>Bibliotheque</title>
<link rel="stylesheet" type="text/css"
href="../static/css/bootstrap.min.css"
th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
href="../static/css/myStyle.css"
th:href="@{/css/myStyle.css}" />
</head>
<body>

<header>
	<div class="navbar navbar-primary">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li><a th:href="@{/auteurs}">Les Auteurs</a></li>
				<li><a th:href="@{/editeurs}">Les Editeurs</a></li>
				<li><a th:href="@{/livres}">Les Livres</a></li>
			</ul>
		</div>
	</div>
</header>


<section layout:fragment="content"></section>


<footer class="navbar-fixed-bottom">
	<small>Biliotheque pour tous</small>
</footer>

</body>
</html>